.heading{
    font-size:25px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.play_btn{
    width: 130px;
    font-size: 25px;
}
canvas{
    margin-top: 2%;
    border-radius: 20px;
    border: 5px solid snow;
}

